<% unless @question.errors.empty? %>
  <div>
    <%= @question.errors.full_messages.to_sentence %>
  </div>
<% end %>

<%= form_for(@question) do |f| %>
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description%>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
<p><%= link_to "Delete Question", @question, method: :delete, data: {confirm: "Are you sure?"} %></p>
<p><%= link_to "Back", questions_path %></p>
