<h1> Question: <%=@question.title%> </h1>
<h3>Description: <%=@question.description%></h3>

<p><%= link_to "Answer Question", new_question_answer_path(@question) %></p>
<p>

<ul>
  <% unless @answers.nil? %>
    <% @answers.each do |answer| %>
      <li> <%= answer.check_box(:best) answer.body %>  </li>
    <% end %>
  <% end %>
</ul>
<p>

<p><%= link_to "Edit Question", edit_question_path(@question) %></p>
<p><%= link_to "Delete Question", @question, method: :delete, data: {confirm: "Are you sure?"} %></p>
<p><%= link_to "Back", questions_path %></p>
